@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Baloo Tamma 2", cursive;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header {
  background-color: #fee600;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
}

h2 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.header__top {
  margin: 40px 20px;
  display: flex;
  justify-content: space-between;
}

.header__bottom {
  background-color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.header__bottom__search-bar {
  width: 80%;
  padding: 10px;
  border-radius: 25px;
  position: absolute;
  top: -25px;
  color: rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

.header__bottom i {
  position: absolute;
  right: 60px;
  top: -10px;
  color: rgba(0, 0, 0, 0.2);
}

.main {
  margin-left: 15px;
}

.main__top {
  margin-top: 10px;
}

img {
  border-radius: 10px;
}

.main__top__img {
  width: 150px;
  height: 200px;
  margin-right: 15px;
}

.main__top__content {
  display: flex;
}

.main__top__content__info__text__name {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}

.main__top__content__info__publisher {
  color: rgba(0, 0, 0, 0.2);
}

.main__top__content__info__text__stars {
  margin-top: 10px;
  margin-bottom: 20px;
}

.main__top__content__info__text__stars i {
  color: #fee600;
}

.main__top__content__category {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.main__top__content__category__box {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px;
  margin-right: 20px;
  border-radius: 5px;
}

.main__top__content__btns {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.main__top__content__btns__small-btn {
  border: 1px solid #fee600;
  padding: 10px;
  border-radius: 50%;
  background-color: #fee600;
}

.main__top__content__btns__big-btn {
  border: 1px solid black;
  padding: 10px;
  border-radius: 10%;
  background-color: black;
  color: white;
}

.main__mid {
  background-color: white;
}

.main__mid__content {
  display: flex;
  overflow-x: scroll;
}

.main__mid__content__cover__image img {
  width: 70px;
  height: 100px;
  margin: 20px;
}

.main__mid__content__cover__star {
  margin: 15px;
  margin-top: 0px;
}

.main__mid__content__cover__star i {
  color: #fee600;
}

.main__bottom {
  margin-top: 15px;
}

.main__bottom__content {
  display: flex;
}

.main__bottom__img {
  width: 120px;
  height: 150px;
  margin-right: 15px;
}

.main__bottom__content__text__name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.main__bottom__content__text__sub-content {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.2);
  line-height: 20px;
}
