* {
  box-sizing: border-box;
}

body {
  background-color: #f3f4f6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 130vh;
}

.screen {
  width: 270px;
  height: 600px;
  background-color: white;
  border-radius: 30px;
  position: relative;
}

.screen__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
}

.screen__main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.screen__main__cover {
  padding-bottom: 30px;
}

.screen__main__cover img {
  height: 70px;
  width: 70px;
  border-radius: 35px;
  box-shadow: 0px 10px 10px rgba(197, 107, 61, 0.3);
}

.screen__main__title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.screen__main__title h3 {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 12px;
}

.screen__main__title h5 {
  font-size: 15px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.3);
}

.screen__main__btns {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.screen__main__btn {
  height: 35px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.screen__main__btn-black {
  background-color: black;
  color: white;
}

.screen__main__btn-white {
  background-color: white;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.screen__main__btn-white h6 {
  padding-left: 8px;
}

.screen__lists {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 250px;
  padding-top: 30px;
}

.screen__list {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  width: 245px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.screen__list__cover img {
  width: 35px;
  height: 35px;
  border-radius: 10px;
}

.screen__list__text h5 {
  font-size: 12px;
  font-weight: 600;
  padding-top: 8px;
}

.screen__list__text h6 {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.3);
  padding-top: 8px;
}

.screen__list i {
  padding-left: 80px;
  color: rgba(0, 0, 0, 0.3);
}

.screen__list i:first-child {
  position: absolute;
  left: -65px;
  bottom: 18px;
  color: white;
}

.screen__player-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  position: absolute;
  left: 10px;
  bottom: 20px;
  width: 250px;
  height: 40px;
  border-radius: 20px;
}

.screen__player-left__text {
  padding-left: 15px;
}

.screen__player-left__text h5 {
  font-size: 12px;
  font-weight: 600;
  padding-top: 8px;
}

.screen__player-left__text h6 {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.7);
}

.screen__player-left__controler {
  padding-right: 19px;
}

.screen__player-left__controler i {
  padding-left: 15px;
  font-size: 12px;
}

.screen__right {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.screen__right__cover {
  padding-top: 35px;
  padding-bottom: 40px;
}

.screen__right__cover img {
  width: 195px;
  height: 195px;
  border-radius: 20px;
  box-shadow: 0px 5px 20px #ef4334;
}

.screen__right__info {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.screen__right__info h5 {
  font-size: 20px;
  font-weight: 600;
}

.screen__right__info h6 {
  font-size: 10px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.3);
  padding-top: 8px;
}

.screen__song-bar {
  padding-top: 25px;
}

.screen__song-bar__time {
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.1);
  padding: 8px 20px;
}

.screen__song-bar__time span {
  font-size: 10px;
  font-weight: 600;
}

.screen__song-bar__bar {
  display: flex;
  justify-content: center;
  position: relative;
}

.screen__song-bar__bar__white {
  width: 230px;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.screen__song-bar__bar__black {
  width: 150px;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 20px;
  border-radius: 10px;
}

.screen__song-bar__bar__pointer {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  bottom: -1.5px;
  right: 100px;
}

.screen__player-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 65px;
}

.screen__player-right i:first-child,
.screen__player-right i:last-child {
  color: rgba(0, 0, 0, 0.1);
  font-size: 13px;
}

.screen__player-right i:nth-child(3) {
  font-size: 40px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}
